*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body {
    background: linear-gradient(135deg, #a6cdc6 0%, #18191f 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    max-width:450px;
    padding:20px;
}

.todo-wrapper {
    background: rgb(182, 180, 180);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
h2{
    color:#333;
    text-align:center;
    margin-bottom:20px;
    display:flex;
    align-items: center;
    justify-content: center;

}
h2 img{
    width:40px;
    margin-left:20px;
}

.input-group{
    display: flex;
    gap:10px;
    margin-bottom:20px;
}

#todoInput{
    flex:1;
    outline:none;
    border:none;
    font-size:16px;
    padding:8px;
    border-radius:10px;
}
#todoInput:focus {
    border-color: #9face6;
}
#addBtn{
    background-color:#4caf50;
    color:white;
    border:none;
    outline:none;
    padding:12px 20px;
    border-radius:20px;
    cursor:pointer;
}

#addBtn:hover{
    background-color:#45a049;
}

#addBtn:active{
    background-color: white;
    color:green;
}

#todoList{
    list-style:none;
}
li{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    border-bottom:1px solid #969090;
    transition: transform 0.2s, background 0.2s;
}

li:hover{
    transform: scale(1.1);
}
li.complete{
    background:#e8f5e9;
}
li.complete span {
    text-decoration: line-through;
    color: #888;
}

/* 6. Buttons Inside the List */
.actions {
    display: flex;
    gap: 5px;
}
.doneBtn, .deleteBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}

.doneBtn {
    background-color: #2196F3;
}

.deleteBtn {
    background-color: #ff4d4d;
}

.doneBtn:hover { background-color: #1976D2; }
.deleteBtn:hover { background-color: #cc0000; }
