.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.search-button, .voice-search-button ,
.upload-container,.youtube-apps-container,
.notifications-icon,.current-user-picture{
  position:relative;
}
.search-button .tooltip
{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;

}


.search-button:hover .tooltip
{
  opacity:1;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}
.voice-search-button .tooltip
{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  width:150px;
  transition: opacity 0.15s;
  pointer-events: none;

}
.voice-search-button:hover .tooltip{
  opacity: 1;
}



.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.upload-container .tooltip{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  width:50px;
  justify-content: center;
  transition: opacity 0.15s;
  pointer-events: none;

}
.upload-container:hover .tooltip{
  opacity: 1;
}


.youtube-apps-icon {
  height: 24px;
}

.youtube-app-container  .tooltip
{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  width:50px;
  justify-content: center;
  transition: opacity 0.15s;
  pointer-events: none;

}
.youtube-app-container:hover .tooltip
{
  opacity: 1;
}

.notifications-icon {
  height: 24px;
}

.notifications-container .tooltip{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  width:80px;
  justify-content: center;
  transition: opacity 0.15s;
  pointer-events: none;
}
.notifications-container:hover .tooltip
{
  opacity: 1;
}

.notifications-class
{
  position:relative;
}

.notifications-count
{
  position:absolute;
  bottom:13px;
  left:15px;
  font-size:10px;
  color:white;
  background-color: rgb(219, 45, 45);
  height:12px;
  width:10px;
  padding-left:3px;
  border-radius:5px;

}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.mychannel-container .tooltip{
  background-color:rgb(136, 132, 132);
  color:white;
  position:absolute;
  padding:4px 8px 4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  width:80px;
  right:10px;
  justify-content: center;
  transition: opacity 0.15s;
  pointer-events: none;
}
.mychannel-container:hover .tooltip
{
  opacity: 1;
}
