.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index:200;
  padding-top:5px;
}

.sidebar-link{
  height:74px;
  margin-bottom:2px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  
}
.sidebar-link img 
{
  height:30px;
  margin-bottom:8px;
}
.sidebar-link:hover{
  background-color: lightgray;
}

.sidebar-link div
{
  font-family: roboto,arial;
  font-size:11px;
}