*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#555;
}

.card{
    width:90%;
    max-width: 470px;
    color:#fff;
    background:linear-gradient(90deg, #00feba,#5b548a);
    margin:100px auto 0;
    border-radius:10px;
    padding:40px 35px;
    text-align: center;
}

.search{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.search input{
    border:0;
    outline:0; /*for no outline */
    background:#eaeaea;
    color:#555;
    padding:10px 25px;
    font-size:16px;
    border-radius:20px;
    flex:1;
    margin-right:16px;
}

.search button{
    border:0;
    outline:0; /*for no outline */
    background:#eaeaea;
    border-radius:50%;
    width:50px;
    height:50px;
    cursor:pointer;

}
.search button:active{
    background-color:#00feba;
    color:#121111;

}



.search button img{
    width:25px;
}

.weather-icon{
    width:180px;
    margin-top:30px;
}

.weather h1{
    font-size:80px;
    font-weight:500;
}
.weather h2{
    font-size:45px;
    font-weight:500;
}

.details
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap:10px;
}

.col img{
    width:40px;
    margin-right:10px;
}

.col .humidity, 
.col .wind{
    font-size:28px;
    margin-top:-6px;
}